
<header class="header group">

</header>
<div class="outer-modal inactive" id="pop-up"></div>
<div class="outer-modal inactive" id="loader-house">
  <div class="loader" id="loaderImage"></div>
</div>
<div id="search"></div>
<div class="" id="main">

</div>
<script>
$(HemmingsClone.initialize);

</script>

<script type="text/template" id="make-select">


  <select class="select-make" name="vehicle[make]" >
    <option value="None"> None </option>
    <% Vehicle.makes.each do |make| %>
      <option value="<%= make %>"> <%=make%> </option>
    <% end %>
  </select>
  <select class="select-model" name="vehicle[model]">
    <option>Must select make first </option>
  <select>

</script>


<script type="text/template"  id="part_categories">
  <label for="">Part Category</label>
  <select class="select-part" name="part_sale[part_category]">
    <option value="None"> None </option>

      <% PartSale.categories.each do |category| %>
        <option value="<%=category%>" id="<%=category%>">
          <%=category%>
        </option>
      <% end %>
  </select>

</script>


<script type="text/template" id="missing-image">
  <img src="<%=asset_path("missing.png")%>" alt="" />
</script>



<script type="text/template" id="car-makes">
  <ul class="options">
      <% Vehicle.makes.each do |make| %>
    <li class="make">
        <input type="checkbox" name="make[]" value="<%= make %>"> <strong> <%=make %> </strong>
    </li>
      <% end %>
  </ul>
</script>


<script type="text/template" id="twitter">
  <img src="<%=asset_path("twitter.png")%>" alt="" />
</script>


<script type="text/javascript">
	var cSpeed=11;
	var cWidth=160;
	var cHeight=20;
	var cTotalFrames=22;
	var cFrameWidth=160;
	var cImageSrc=' <%= asset_path 'sprites.gif' %>';

	var cImageTimeout=false;
	var cIndex=0;
	var cXpos=0;
	var cPreloaderTimeout=false;
	var SECONDS_BETWEEN_FRAMES=0;

	function startAnimation(){

		document.getElementById('loaderImage').style.backgroundImage='url('+cImageSrc+')';
		document.getElementById('loaderImage').style.width=cWidth+'px';
		document.getElementById('loaderImage').style.height=cHeight+'px';

		//FPS = Math.round(100/(maxSpeed+2-speed));
		FPS = Math.round(100/cSpeed);
		SECONDS_BETWEEN_FRAMES = 1 / FPS;

		cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES/1000);

	}

	function continueAnimation(){

		cXpos += cFrameWidth;
		//increase the index so we know which frame of our animation we are currently on
		cIndex += 1;

		//if our cIndex is higher than our total number of frames, we're at the end and should restart
		if (cIndex >= cTotalFrames) {
			cXpos =0;
			cIndex=0;
		}

		if(document.getElementById('loaderImage'))
			document.getElementById('loaderImage').style.backgroundPosition=(-cXpos)+'px 0';

		cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES*1000);
	}

	function stopAnimation(){//stops animation
		clearTimeout(cPreloaderTimeout);
		cPreloaderTimeout=false;
	}

	function imageLoader(s, fun)//Pre-loads the sprites image
	{
		clearTimeout(cImageTimeout);
		cImageTimeout=0;
		genImage = new Image();
		genImage.onload=function (){cImageTimeout=setTimeout(fun, 0)};
		genImage.onerror=new Function('alert(\'Could not load the image\')');
		genImage.src=s;
	}
  var loading = function() {
    $("#loader-house").removeClass("inactive");

  };

  var doneLoading = function() {
    $("#loader-house").addClass("inactive");

  };


  new imageLoader(cImageSrc, 'startAnimation()')
	//The following code starts the animation
	$( document ).ajaxStart( startAnimation )  ;
  $( document ).ajaxStart( loading );
  $( document ).ajaxComplete( stopAnimation );
  $( document ).ajaxComplete( doneLoading );




</script>
