<h1> <%= current_user.email if current_user %> </h1>
<header class="header group">

</header>
<div class="outer-modal inactive" id="pop-up"></div>
<div id="search"></div>
<div class="" id="main">

</div>
<script>
$(HemmingsClone.initialize);

</script>

<script type="text/template" id="make-select">


  <select class="select-make" name="vehicle[make]" >
    <option value="None"> None </option>
    <% Vehicle.makes.each do |make| %>
      <option value="<%= make %>"> <%=make%> </option>
    <% end %>
  </select>
  <select class="select-model" name="vehicle[model]">
    <option>Must select make first </option>
  <select>

</script>


<script type="text/template"  id="part_categories">
  <label for="">Part Category</label>
  <select class="select-part" name="part_sale[part_category]">
    <option value="None"> None </option>

      <% PartSale.categories.each do |category| %>
        <option value="<%=category%>" id="<%=category%>">
          <%=category%>
        </option>
      <% end %>
  </select>

</script>


<script type="text/template" id="missing-image">
  <img src="<%=asset_path("missing.png")%>" alt="" />
</script>



<script type="text/template" id="car-makes">
  <ul>
    <li>
      <% Vehicle.makes.each do |make| %>
        <input type="checkbox" name="make[]" value="<%= make %>"> <strong> <%=make %> </strong>
      <% end %>
    </li>
  </ul>
</script>


<script type="text/template" id="twitter">
  <img src="<%=asset_path("twitter.png")%>" alt="" />
</script>
