
<h1> I'm looking for </h1>
<label for="">Looking For
<label for="">Vehicles <input type="radio" selected name="looking_for[for_part]" value="false"></label>
<label for="">Parts <input type="radio" name="looking_for[for_part]" value="true"></label>
</label>
<br>
<label> Title </label>
<input type="text" name="looking_for[title]" value="<%=request.escape("title")%>">
<br>
<label for="">Year</label>
<select class="" name="vehicle[year]">
  <% for (var year = 1900; year <= 2015; year++) { %>
    <option value="<%=year%>"> <%=year%> </option>
  <% } %>
</select>
<div id="make-model"></div>
<br>
<label for="">Zip Code</label>
<input type="number" name="looking_for[location]" value="<%=request.escape("location")%>">

<br>
<label for="">Part Number</label>
<input type="text" name="looking_for[part_number]" value="<%= request.escape("part_number")%>">
<br>
<label for="">Part Type</label>
<input type="text" name="looking_for[part_type]" value="<%= request.escape("part_type")%>">

<br>
<label for="">Description</label>
<textarea name="looking_for[body]"><%=request.escape("description")%></textarea>
<br>
<input type="submit" name="" value="Start Looking">
