<h1> Sell Your Car! </h1>

<form class="new-vehicle-sale" action="<%=vehicle_sales_url%>" method="post">
  <%= authentic_form %>
  <%= render partial: "shared/vehicle" %>
  <label for="">Chasis Number/VIN</label>
  <input type="text" name="vehicle_sale[chasis_number]" value="">
  <label for="">Title Status</label>
  <input type="text" name="vehicle_sale[title_status]" value="Clean">
  <br>
  <label for="">Condition</label>
  <select  name="vehicle_sale[vehicle_condition]">
    <% Vehicle.conditions.each do |condition| %>
    <option value="<%=condition%>"><%=condition%> </option>
    <% end %>
  </select>
  <br>
  <label for="">Description</label>
  <textarea name="vehicle_sale[vehicle_description]" rows="8" cols="40"></textarea>
  <br>
  <input type="submit" name="name" value="BAM!">
</form>
