<!DOCTYPE html>
<html>
<head>
  <title>HemmingsClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <h1> <%= current_user.email %> </h1>
  <br>
  <%= my_button_to(session_url, "Log Out", "delete") %>
<% else %>
  <%= my_button_to(new_session_url, "Log in", "get") %>
<% end %>
<%= yield %>

</body>
</html>
