
<article class="sale-item">

  <h1 class="title"> <%= sale.escape("part_type") %> </h1>
  <figure class="preview">
    <img src="<%=sale.thumb%>">

  </figure>
  <section class="description">
  <label> Price: <%=sale.escape("price") %> </label>
  <br>
  <label for="">Part Number: #<%= sale.escape("part_number") %></label>
  <br>
  <label> <%= sale.escape("part_type") %> </label>
  Fits:
  <ul class="result-vehicles">
    <% sale.vehicles().each(function(vehicle){ %>
      <li class="part-result-vehicle"> <%= vehicle.description() %> </li>
    <% }) %>
  </ul>

  <label for="">Description: <%= sale.escape("part_description") %> </label>
  </section>

</article>
