
<article class="sale-item">

  <a class="result-title"  href="#part_sales/<%=sale.id%>"> <%= sale.escape("part_type") %> </a>
  <br>
  <label for="">Part Number: #<%= sale.escape("part_number") %></label>
  Fits:
  <ul class="result-vehicles">
    <% sale.vehicles().each(function(vehicle){ %>
      <li class="part-result-vehicle"> <%= vehicle.description() %> </li>
    <% }) %>
  </ul>

  <label for="">Part_description: <%= sale.escape("part_description") %> </label>

</article>
